

/*.game {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    flex-wrap: wrap;*/
/*    margin: 0 auto;*/
/*    width: 600px;*/
/*}*/
#beam{
    height:100px;
}
.row{
    display:flex;
    justify-content:space-around;
    flex-direction:row;
}
#controls{
    display:flex;
    align-items:center;
    flex-direction:column;
}
body {
  
    background-image:url("https://i.gifer.com/FG3y.gif");
    color:red;
    }
.ship{
    height:100px;
     width:130px;

}
.shoot{
    height:100px;
    width:200px;
   
}
.ex{
    height:100px;
    width:200px;
}
#screen{
   border:solid black;   
    /*background-image:url("http://www.formica.com/~/media/emea/images/decors/eu/f0949.jpg");*/
}
.reset{
    display:flex;
    align-items:center;   
     flex-direction:column;
}
#ex2{
    display:none;
}
.hidden{
    display:none;
}
#text{
  font-family:Abril fatface;  
}



/*lnlfdnnlvldnv
mercury jupiter saturn neptune mars
You have found Mars. Like Earth, Mars has seasons, polar ice caps, volcanoes, canyons, and weather. It has a very thin atmosphere made of carbon dioxide, nitrogen, and argon.
There are signs of ancient floods on Mars, but now water mostly exists in icy dirt and thin clouds. On some Martian hillsides, there is evidence of liquid salty water in the ground. Currently scientists are trying to find a way to terraform Mars being that it would be the best substitue for Earth at the moment.


*/